body {
  padding-top: 80px; /* Adjust based on navbar height */
}
.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  z-index: 1050; /* Higher z-index ensures it stays above other elements */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
}

.logo {
    height: 45px; /* Set a default height */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Prevent distortion */
  }
  
  /* Adjust the logo size when screen gets smaller */
  @media (max-width: 992px) {  /* Tablets and smaller screens */
    .logo {
      height: 35px;
    }
  }
  
  @media (max-width: 768px) {  /* Mobile screens */
    .logo {
      height: 25px;
    }
  }
  
  @media (max-width: 480px) {  /* Extra small devices */
    .logo {
      height: 15px;
    }
  }
.talk-to-us{
    color: #FFDE00;
}


/* Add padding to the body to prevent content from being hidden under the navbar */
body {
  padding-top: 1px; /* Adjust based on your navbar height */
}

  
  